<!DOCTYPE html>
<html>
  <head>
    <title>OTP Simple HTTP Server</title>
    <meta  charset="utf-8">
    <link  rel="stylesheet"  href="/static/style.css">
  </head>
  <body>
    <h1>Items</h1>
  </body>
</html>
