<!DOCTYPE html>
<html>
  <head>
    <title>CRUD</title>
    <meta  charset="utf-8">
    <link  rel="stylesheet"  href="/static/style.css">
  </head>

  <body>
    <h1>Todo</h1>
    <form method="POST">
      <input type="text"
             id="new-item"
             name="item"
             pattern=".{3,}"
             required
             aria-label="Write a new todo item"
             title="3 characters minimum"/>
      <input type="submit"
             value="Add new item"
             id="add-new-item"/>
    </form>
    <ul>
      <%= for crud <- items do %>
        <li class="item">
          <%= if crud.done do %>
            <span class="todo-item"><s><%= crud.name %></s></span>
            <form method="POST" action="toggle">
              <input type="hidden" name="item" value="<%= crud.id %>">
              <input class="incomplete" type="submit" value="Not Done" />
            </form>
            <form method="POST" action="delete">
              <input type="hidden" name="item" value="<%= crud.id %>">
              <input class="delete" type="submit" value="Remove" />
            </form>
          <% else %>
            <span class="todo-item"><%= crud.name %></span>
            <form method="POST" action="toggle">
              <input type="hidden" name="item" value="<%= crud.id %>">
              <input class="incomplete" type="submit" value="Done" />
            </form>
            <form method="POST" action="delete">
              <input type="hidden" name="item" value="<%= crud.id %>">
              <input class="delete" type="submit" value="Remove" />
            </form>
          <% end %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
